<nav class="navbar">
  <a routerLink="/home">Home</a>

  <a *ngIf="!isLoggedIn" routerLink="/login">Login</a>
  <a *ngIf="isLoggedIn" routerLink="/ferie">Ferie</a>
  <a *ngIf="isLoggedIn" routerLink="/profile">Profil</a>

  <!-- Kun leaders -->
  <a *ngIf="isLeader" routerLink="/dashboard">Admin Dashboard</a>
  <a *ngIf="isLeader" routerLink="/admin">Medarbejdere</a>


  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
    <button type="button"
            (click)="logout()"
            class="btn btn-danger btn-sm">
      Logout
    </button>
  </ng-container>
  <ng-template #notLoggedIn>
    <span class="text-white">Please log in.</span>
  </ng-template>
</nav>


<router-outlet></router-outlet>
