<nav class="navbar">
  <a routerLink="/home"> Home</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/admin">Admin</a>
  <a routerLink="/ferie">Ferie</a>
  <a routerLink="/profile">Profil</a>

  <ng-container *ngIf="isLoggedIn; else notLoggedIn">
  <p>Welcome, {{ auth.getUsername() }}!</p>
  <button (click)="logout()">Logout</button>
</ng-container>
<ng-template #notLoggedIn>
  <p>Please log in.</p>
  <!-- Add login form or navigate to login page -->
</ng-template>
</nav>



<router-outlet></router-outlet>
