<h2>Admin Brugeroversigt</h2>

<div class="table-responsive"></div>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Navn</th>
      <th>Efternavn</th>
      <th>Email</th>
      <th>Fødselsdato</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.dateOfBirth | date }}</td>
    </tr>
  </tbody>
</table>







<!-- Liste over brugere -->
<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Brugernavn</th>
      <th>Rolle</th>
      <th>Handlinger</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.role }}</td>
      <td>
        <button (click)="editUser(user)">✏️ Rediger</button>
        <button (click)="deleteUser(user.id)">🗑️ Slet</button>
      </td>
    </tr>
  </tbody>
</table> -->

<!-- Redigeringsformular -->
<!-- <div *ngIf="editingUser" class="edit-form">
  <h3>Rediger Bruger</h3>
  <label>
    Brugernavn:
    <input [(ngModel)]="editingUser.username" />
  </label>
  <label>
    Rolle:
    <select [(ngModel)]="editingUser.role">
      <option value="Admin">Admin</option>
      <option value="User">User</option>
    </select>
  </label>

  <button (click)="saveUser()">💾 Gem</button>
  <button (click)="cancelEdit()">❌ Annuller</button> -->
<!-- </div> -->
